<div class="container">
  <div class="action-sidebar">
    <div class="item-wrapper" [matMenuTriggerFor]="personMenu">
      <mat-icon *ngIf="noUserProfileAndPhoto">person</mat-icon>
      <span *ngIf="isOnlyProfileLoaded">{{ getAvatarReplacementFromProfile() }}</span>
      <img *ngIf="isPhotoLoaded" class="profile-image" [src]="userPhoto">
    </div>
  </div>
  <mat-menu #personMenu="matMenu">
    <div class="person-context-container" (click)="$event.stopPropagation()">
      <app-user-profile [profile]="userProfile" [photo]="userPhoto"></app-user-profile>
    </div>
  </mat-menu>
  <div class="action-container">
    <div class="action-wrapper">
      <button mat-flat-button (click)="onCreateSketch()">
        <mat-icon>add</mat-icon>
        <span class="action-text">Create new Sketch</span>
      </button>
      <mat-form-field>
        <mat-label>
          Search for Sketch
        </mat-label>
        <input type="text" matInput [formControl]="searchControl">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div #body class="body-container">
    <div class="body-placeholder" *ngIf="isBodyPlaceHolderDisplay()">
      <span class="icon-body-placeholder">{{ getBodyPlaceHolderIcon() }}</span>
      <span class="text-body-placeholder">Opps! There is no sketch to be displayed.</span>
    </div>
    <div class="body-wrapper" *ngIf="!isBodyPlaceHolderDisplay()">
      <app-card
      [sketch]="sketch"
      (onEventSuccess)="onCardEventSuccess()"
      *ngFor="let sketch of sketches"></app-card>
      <app-loading *ngIf="isLoadingItem"></app-loading>
    </div>
  </div>
</div>
