<div class="card" (click)="onCardClick(sketch)">
  <div class="card-image-container">
    <img
    class="card-image"
    [src]="getImageSrc(sketch)"
    [ngStyle]="{'background-color': sketch.background}"
    >
  </div>
  <div class="card-body">
    <div class="card-title">
      <span>{{ sketch.name }}</span>
    </div>
    <div class="card-content">
      <span>{{ sketch.width + "x" + sketch.height }}</span>
      <button data-testid="moreBtn" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button data-testid="editBtn" mat-menu-item (click)="onEditSketch(sketch)">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
        <button data-testid="deleteBtn" mat-menu-item (click)="deleteSketch(sketch)">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </mat-menu>
    </div>
  </div>
</div>
